# Environment configuration overrides
RODENT_RING_TOKEN_FILE=ring_token.json
RODENT_RING_DEVICE_NAME=
RODENT_RING_SAMPLE_INTERVAL=20
RODENT_INFERENCE_ENDPOINT_URL=http://roland3:11434
RODENT_INFERENCE_ENDPOINT_TYPE=ollama
RODENT_INFERENCE_MODEL_NAME=gemma-4-e12b
RODENT_INFERENCE_THRESHOLD=0.65
